body {
    font-family: Calibri, sans-serif;
    font-size: 10pt;
    width: 80%;
    margin: 0 auto;
}

#container {
    border-right: solid 1px rgb(66, 66, 66);
    margin: 0 auto;
    display: flex;
    max-width: 700px;
    background-color:rgb(255, 255, 255)
}


#left {
    margin: 0 auto;
    min-width: 200px;
    width: 30%;
    background-color: rgb(66, 66, 66);
    color: rgb(255, 255, 255);
}

#photo {
    width: 90%;
    padding-left: 5%;
    
}

.list {
    border-bottom: 1px solid rgb(255, 255, 255);
    text-align: center;
}


#contact-list {
    padding-left: 10%;
    list-style-type: none;
    text-align: start;
}

.contact-list-cell {
    display: flex;
    align-items: center;
    padding-top: 2%;
}

.list-link {
    padding-left: 5%;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.list-link:hover {
    text-decoration: underline; 
}

.contact-icon {
    margin-top: 5px;
    width: 15px;
}


#skill-list {
    padding-left: 20%;
    list-style-type: square;
    text-align: start;
}

#language-list {
    padding-left: 20%;
    list-style-type: square;
    text-align: start;
}


#right {
    width: 70%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
    min-width: 200px;
    color:rgb(66, 66, 66);
}


#name {
    padding-top: 10%;
    text-align: end;
    font-size: 25pt;
    line-height: 1;
}


#speciality {
    display:grid;
    margin-top: 3%;
    text-align: end;
    font-size: 15pt;
}

#clarification{
    font-size: 7pt;
    text-decoration: overline;
}

#about {
    margin-top: 10%;
}


#education {
    margin-top: 10%;
}


#experiense {
    margin-top: 10%;
}